@page "/"
@using WeDriveRental.Api
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Welcome to WeDriveRental</h1>

@code{
    CurrencyApi api = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        api.GetCurrenciesBaseSek();
    }

}